<ion-header>
  <ion-toolbar>
    <ion-title text-center>Visiteurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="visitors.length == 0" class="no-visitor">
      <ion-label text-center>Aucun visiteur pour le moment</ion-label>
  </div>
  <ion-card *ngFor="let visitor of visitors" routerLink="/visitor-detail/{{ visitor.id }}">
    <ion-item>
        <ion-icon name="walk"></ion-icon>
        <ion-label stacked>Visiteur:</ion-label>
        <ion-label text-right class="visitor-name"> {{ visitor.firstName }} {{ visitor.lastName }} </ion-label>
    </ion-item>
  </ion-card>
</ion-content>